
body {
    background-image: url("images//bg-pattern-top.svg"), url("images//bg-pattern-bottom.svg");
    background-position: -20vw -70vh, 50vw 40vh;
    background-repeat: no-repeat;
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
  
  }
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }


.container, .card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    margin: 5% auto;

}

h2 {

font-weight: 700;
font-size: 20px ; 
color: hsl(229, 23%, 23%);
}

 .description, .location{
  font-size: 12px;
  color: hsl(0, 2%, 59%);
}

.age {
  color:  hsl(0, 0%, 62%);
  font-weight: 400;
}

.location {
  padding-bottom: 20px;
}

.socials {
  font-size: 18px;
  font-weight: 700;
}

.card {
  height: auto;
  background-color: white;
  width: 350px;
  border-style: hidden;
  border-radius: 15px;
  overflow: hidden;
}

.victor-img {
  margin-top: -17%;
  border: 8px solid white;
  border-radius: 50%;

}

.card-profile, {
  height: 155px;
  background-color: white;
  text-align: center;
  border-bottom: 1px solid rgba(153, 153, 153, 0.4);
}

.card-bottom {
  height: 90px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border-top: 1px solid  hsl(0, 42%, 95%);
}

.description {
  display: block;
}


}